<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>重置密码</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="__PUBLIC__/Home/AmazeUI-2.4.2/assets/css/amazeui.min.css" />
	<link href="__PUBLIC__/Home/css/dlstyle.css" rel="stylesheet" type="text/css">
	<script src="__PUBLIC__/Home/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Home/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
	<style>
		body{height:720px;}
		/*注册页面粉红色背景色*/
		.res-banner{height:420px;}
		/*登录框的高度*/
		.login-box{margin-top:48px;height:300px;}
		/*注册输入框之间的间距*/
		.user-name,.user-pass,.user-email,.user-phone,.verification{margin-bottom: 23px;}

		/*设置输入框的提示信息样式*/
		.prompt-message{color: #C5C5C5;font-size: 12px;}

		/*设置输入框正确提示信息*/
		.right-message {color:green;}

		/*错误提示信息类样式*/
		.error-message {color:red;}
		
		/*错误图标样式*/
		.item-error{
			float:left;
			position:relative;
			top:4px;
			color:#fc4343;
			height:16px;
			line-height:14px;
			padding-left:20px;
			background:url("__PUBLIC__/Images/Login/err_small.png") 0 0 no-repeat;
		}

		/*正确图标样式*/
		.item-succ{
			float:left;
			position:relative;
			top:5px;
			color:#fc4343;
			height:16px;
			line-height:12px;
			padding-left:20px;
			background:url("__PUBLIC__/Images/Login/reg_icons.png") -80px 0 no-repeat;
		}

		/*密码强度弱的样式*/
		.i-pwd-weak{
			display:inline-block;
			width:16px;
			height:16px;
			vertical-align:text-top;
			margin-right:4px;
			background:url("__PUBLIC__/Images/Login/icon.png") -17px -133px no-repeat;
			font-style:normal;
		}

		/*密码强度中的样式*/
		.i-pwd-medium{
			display:inline-block;
			width:16px;
			height:16px;
			vertical-align:text-top;
			margin-right:4px;
			background:url("__PUBLIC__/Images/Login/icon.png") -34px -117px no-repeat;
			font-style:normal;
		}

		/*密码强度强的样式*/
		.i-pwd-strong{
			display:inline-block;
			width:16px;
			height:16px;
			vertical-align:text-top;
			margin-right:4px;
			background:url("__PUBLIC__/Images/Login/icon.png") -34px -134px no-repeat;
			font-style:normal;
		}

		/*邮箱注册验证码样式*/
		#code_img{vertical-align:top;cursor:pointer;}

		/*手机号注册验证码样式*/
		#codeimg{vertical-align:top;cursor:pointer;}

		/*底部与登录框的上边距*/
		.footer{margin-top: 0px;}
	</style>
</head>
<body>
	<div class="login-boxtitle">
		<a href="{:U('Index/index')}" title="去往零食商城首页"><img alt="" src="__PUBLIC__/Home/images/logobig.png" /></a>
		<div style="float:right;line-height:60px;"><a href="{:U('Login/login')}">返回登录</a></div>
	</div>
	<div class="res-banner">
		<div class="res-main">
			<div class="login-banner-bg"><span></span><img src="__PUBLIC__/Home/images/big.jpg" /></div>
			<div class="login-box">
				<div class="am-tabs" id="doc-my-tabs">
					<ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
						<li class="am-active"><a href="">重置密码</a></li>
					</ul>
				<div class="am-tabs-bd">
					<!-- 重置密码 -->
					<div class="am-tab-panel am-active">
						<form method="post" action="{:U('Login/resetPassword')}" id="emailform">	
							<!-- 通过隐藏域传递(后台Login/resetPassword)接收过来的id -->
							<input type="hidden" name="id" value="{$id}">

                 			<div class="user-pass">
								<label for="password"><i class="am-icon-lock"></i></label>
								<input class="email-password" type="password" name="password" id="email-password" placeholder="建议至少使用两种字符组合" maxlength="20">
                 			</div>										
                 			<div class="user-pass">
								<label for="passwordRepeat"><i class="am-icon-lock"></i></label>
								<input class="email-passwordRepeat" type="password" name="passwordRepeat" id="email-passwordRepeat" placeholder="确认密码" maxlength="20">
                 			</div>	
							<div class="am-cf">
								<input type="submit" name="" id="email-sub" value="提交" class="am-btn am-btn-primary am-btn-sm am-fl">
							</div>
						</form>						
					</div>					
				</div>
			</div>
		</div>
	</div>
		
	<div class="footer ">
		<div class="footer-hd ">
			<p>
				<a href="# ">恒望科技</a>
				<b>|</b>
				<a href="# ">商城首页</a>
				<b>|</b>
				<a href="# ">支付宝</a>
				<b>|</b>
				<a href="# ">物流</a>
			</p>
		</div>
		<div class="footer-bd ">
			<p>
				<a href="# ">关于恒望</a>
				<a href="# ">合作伙伴</a>
				<a href="# ">联系我们</a>
				<a href="# ">网站地图</a>
				<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
			</p>
		</div>
	</div>
</body>
<script>

$(function() {

    // 当点击输入框时显示提示信息
    $('form :input').click(function() {

    	// 如果是邮箱注册设置密码输入框
		if ($(this).is('#email-password')) {
			// nextAll,查找当前元素之后所有的同辈元素。
			$(this).nextAll().remove();

    		var $listItem = $(this).parents('div:first');
    		// 设置输入的提示信息
			var promptMessage = "建议使用字母、数字和符号两种及以上组合,6-20个字符";
			$('<span></span>')
			.addClass('prompt-message')
			.text(promptMessage)
			.appendTo($listItem);
    	}  

    	// 如果是邮箱注册确认密码输入框
		if ($(this).is('#email-passwordRepeat')) {
			// nextAll,查找当前元素之后所有的同辈元素。
			$(this).nextAll().remove();

    		var $listItem = $(this).parents('div:first');
    		// 设置输入的提示信息
			var promptMessage = "请再次输入密码";
			$('<span></span>')
			.addClass('prompt-message')
			.text(promptMessage)
			.appendTo($listItem);
    	} 

    	 	     	  	
    });


    // 当输入框失去焦点的时候触发
    $('form :input').blur(function() {

	    // 如果是邮箱注册设置密码输入框
    	if ($(this).is('#email-password')) {
    		// nextAll()删除所选输入框的同辈元素 
	    	$(this).nextAll().remove();

    		var $listItem = $(this).parents('div:first');
    		if (this.value == '') {
    			// 将Input框的颜色设置为红色
    			$('#email-password').css('border-color', 'red');

    			// 添加错误按钮
    			$('<i></i>')
    			.addClass('item-error')
    			.appendTo($listItem);

    			// 设置错误信息
    			var errorMessage = '请设置密码';
    			$('<span></span>')
    			.addClass('error-message')
    			.text(errorMessage)
    			.appendTo($listItem);

    			// 阻止表单提交
				return false;

		    // 当用户有在设置密码输入框输入密码,但是密码长度小于6位的时候
    		} else if (!/[\w\s`~!@#$%^&*()-_+=<>?:"{},.|\/;'[\]]{6,20}/.test(this.value)) {
    			console.log(this.value);
    			// 将Input框的颜色设置为红色
    			$('#email-password').css('border-color', 'red');

    			// 添加错误按钮
    			$('<i></i>')
    			.addClass('item-error')
    			.appendTo($listItem);

    			// 设置错误信息
    			var errorMessage = '密码长度只能在6-20个字符之间';
		        $('<span></span>')
		          .addClass('error-message')
		          .text(errorMessage)
		          .appendTo($listItem);

		        // 阻止表单提交
				return false;

	        // 当用户有在设置密码输入框输入密码,并且密码长度不小于6位,但是密码属于长度在6-10位同种类型的密码,提醒用户密码强度弱
	        // 用户密码强度弱的四种情况,密码为:纯数字/纯字母/纯特殊字符/纯空格
	        
			} else if ( 
				// 如果用户在设置密码框输入的是6-10位纯数字
				/^[\d]{6,10}$/.test(this.value) 

				// 如果用户在设置密码框输入的是6-10位纯字母
				|| /^[a-zA-Z]{6,10}$/.test(this.value) 

				// 如果用户在设置密码框输入的是6-10位纯特殊字符
				|| /^[`~!@#$%^&*()-_+=<>?:"{},.|\/;'[\]]{6,10}$/.test(this.value) 

				// 如果用户在设置密码框输入的是6-10位纯空格
				|| /^[\s]{6,10}$/.test(this.value) )
			{
				// 将Input框的颜色设置为红色
    			$('#email-password').css('border-color', 'red');

    			// 添加错误按钮
    			$('<i></i>')
    			.addClass('i-pwd-weak')
    			.appendTo($listItem);

    			// 设置错误信息
				var errorMessage = '有被盗风险,建议使用字母、数字和符号两种以上组合';
		        $('<span></span>')
		          .addClass('error-message')
		          .text(errorMessage)
		          .css("color", "red")
		          .css("font-size", "12px")
		          .appendTo($listItem);

		        // 阻止表单提交
				return false;

	        // 当用户有在设置密码输入框输入密码,并且密码长度不小于11位,但是密码属于同种类型的密码,提醒用户密码强度中,还可以提升密码强度
			} else if ( 
				// 如果用户在设置密码框输入的是11-20位纯数字
				/^[\d]{11,20}$/.test(this.value) 

				// 如果用户在设置密码框输入的是11-20位纯字母
				|| /^[a-zA-Z]{11,20}$/.test(this.value) 

				// 如果用户在设置密码框输入的是11-20位纯特殊字符
				|| /^[`~!@#$%^&*()-_+=<>?:"{},.|\/;'[\]]{11,20}$/.test(this.value) 

				// 如果用户在设置密码框输入的是11-20位纯空格
				|| /^[\s]{11,20}$/.test(this.value) 


				// 下面是数字+字母、数字+特殊字符、数字+空格、字母+特殊字符、字母+空格、特殊字符+空格共6种组合


				// 如果用户在设置密码框输入的是6-10位数字和字母的组合
				|| /^[\da-zA-Z]{6,10}$/.test(this.value)

				// 如果用户在设置密码框输入的是6-10位数字和特殊字符的组合
				|| /^[`~!@#$%^&*()-_+=<>?:"{},.|\/;'[\]\d]{6,10}$/.test(this.value)

				// 如果用户在设置密码框输入的是6-10位数字和空格的组合
				|| /^[\d\s]{6,10}$/.test(this.value)

				// 如果用户在设置密码框输入的是6-10位字母和特殊字符的组合
				|| /^[`~!@#$%^&*()-_+=<>?:"{},.|\/;'[\]a-zA-Z]{6,10}$/.test(this.value)

				// 如果用户在设置密码框输入的是6-10位字母和空格的组合
				|| /^[a-zA-Z\s]{6,10}$/.test(this.value)

				// 如果用户在设置密码框输入的是6-10位特殊字符和空格的组合
				|| /^[`~!@#$%^&*()-_+=<>?:"{},.|\/;'[\]\s]{6,10}$/.test(this.value)

				) 
			{
				// 将Input框的颜色设置为红色
    			$('#email-password').css('border-color', '#FF9911');

    			// 添加错误按钮
    			$('<i></i>')
    			.addClass('i-pwd-medium')
    			.appendTo($listItem);

    			// 设置错误信息
				var errorMessage = '安全强度适中，可以使用三种组合来提高安全强度';
		        $('<span></span>')
		          .addClass('error-message')
		          .text(errorMessage)
		          .css({"color":"#FF9911","font-size":"8px"})
		          .appendTo($listItem);

		        // 阻止表单提交
				return false;

			} else {
				// 将Input框的颜色设置为白色
    			$('#email-password').css('border-color', '#fff');

    			// 添加密码强度强按钮
    			$('<i></i>')
    			.addClass('i-pwd-strong')
    			.appendTo($listItem);

    			// 允许表单提交
				return true;

			}
    	};

    	// 如果是邮箱注册确认密码输入框
    	if ($(this).is('#email-passwordRepeat')) {
    		// nextAll()删除所选输入框的同辈元素 
	    	$(this).nextAll().remove();

    		var $listItem = $(this).parents('div:first');
    		if (this.value == '') {
    			// 将Input框的颜色设置为红色
    			$('#email-passwordRepeat').css('border-color', 'red');

    			// 添加错误按钮
    			$('<i></i>')
    			.addClass('item-error')
    			.appendTo($listItem);

    			// 设置错误信息
    			var errorMessage = '请输入确认密码';
    			$('<span></span>')
    			.addClass('error-message')
    			.text(errorMessage)
    			.appendTo($listItem);

    			// 阻止表单提交
				return false;

    			// 如果没有输入确认密码
    		} else {
    			console.log(this.value);

    			// 获取邮箱注册输入密码框的值
    			var emailpassword = $("#email-password").val();

    			// 获取邮箱注册确认密码框的值
    			var emailpasswordRepeat= $("#email-passwordRepeat").val();

    			// 如果输入的密码与确认密码相同
    			if (emailpassword == emailpasswordRepeat) {

    				// 将Input框的颜色设置为白色
	    			$('#email-passwordRepeat').css('border-color', '#fff');

	    			// 添加成功按钮
	    			$('<i></i>')
	    			.addClass('item-succ')
	    			.appendTo($listItem);

	    			// 允许表单提交
					return true;

	    		// 如果输入的密码与确认密码不相同
    			} else {

	    			// 将Input框的颜色设置为红色
	    			$('#email-passwordRepeat').css('border-color', 'red');

	    			// 添加错误按钮
	    			$('<i></i>')
	    			.addClass('item-error')
	    			.appendTo($listItem);

	    			// 设置错误信息
	    			var errorMessage = '两次密码不一致';
	    			$('<span></span>')
	    			.addClass('error-message')
	    			.text(errorMessage)
	    			.appendTo($listItem);

	    			// 阻止表单提交
					return false;
    			}   			
    		} 
    	}

    });


	// 设置一个空的定时器
	let timer=null;
	// 如果用户点击提交的按钮(防止用户重复点击提交)
	$('#email-sub').click(function() {

		// 清除定时器
		clearTimeout(timer);
		//如果用户点击立即注册按钮的速度太快，小于0.5s就不会提交form表单到后台，但是最后还是会提交一次form表单到后台
	    timer = setTimeout(function(){

			// 当点击立即注册按钮时,使邮箱注册的表单上的所有input框失去焦点
			$("#emailform :input").trigger("blur");

		},500)


    	// 分别获取上面2个输入框的值
    	var emailpassword = $('#email-password').val();
    	var emailpasswordRepeat = $('#email-passwordRepeat').val();

    	// 如果所有input框的值输入正确才给提交按钮,否则有一个input框的值不符合要求就不给提交
    	if (emailpassword && emailpasswordRepeat) {
    		return true;
		    $("#email-sub").removeAttr("disabled");

    	} else {
    		return false;
    		$("#email-sub").attr("disabled", true);
    	}
	
	});
	


})
</script>
</html>