<extend name="Usercenter/index" />
<!-- 继承index头部->尾部 -->
<!-- 重写body模块 -->
<block name="body">

		<link href="__PUBLIC__/Home/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__PUBLIC__/Home/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__PUBLIC__/Home/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__PUBLIC__/Home/css/appstyle.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.2.min.js"></script>

			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-comment">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">发表评论</strong> / <small>Make&nbsp;Comments</small></div>
						</div>
						<hr/>
<!-- form表单开始 -->
<form action="{:U('Usercenter/pinlun')}" method="post">
						<div class="comment-main">

	<!-- 遍历订单详情表 -->
	<foreach name="orderDataArr" item="v">
<input type="hidden" name="gid[]" value="{$v['id']}">
<input type="hidden" name="pid[]" value="{$v['pid']}">

							<div class="comment-list">
								<div class="item-pic">
									<a href="#" class="J_MakePoint">

									<!-- 遍历商品图片 -->
								<img src="__PUBLIC__/{$v['image']}" class="itempic">
									</a>
								</div>

								<div class="item-title">

									<div class="item-name">
										<a href="#">
											<p class="item-basic-info">{$v['pname']}</p>
										</a>
									</div>
									<div class="item-info">
										<div class="info-little">
											<span>口味：{$v['fkou']}</span><br>
											<span>包装：{$v['fbao']}</span>
										</div>
										<div class="item-price">
											价格：<strong>{$v['pmoney']}元</strong>
										</div>										
									</div>
								</div>
								<div class="clear"></div>
								<div class="item-comment">
									<textarea name="content[]" placeholder="请写下对宝贝的感受吧，对他人帮助很大哦！"></textarea>
								</div>
								<div class="filePic">
									<input type="file" class="inputPic" allowexts="gif,jpeg,jpg,png,bmp" accept="image/*" >
									<span>晒照片(0/5)</span>

									<img src="__PUBLIC__/Home/images/image.jpg" alt="">

								</div>
								<div class="item-opinion">
									<input type="checkbox" value="3" name="dafen[]"><i class="op2"></i>差评</li><li>
									<input type="checkbox" value="1" name="dafen[]"><i class="op1"></i>好评</li><li>
									<input type="checkbox" value="2" name="dafen[]"><i class="op3"></i>中评</li><li>
								</div>
							</div>
	<!-- 遍历订单详情表结束 -->
	</foreach>

													
							<div class="info-btn">
								<button><div class="am-btn am-btn-danger">发表评论</div></button>
							</div>
<!-- form表单结束 -->
</form>					
					<script type="text/javascript">
						$(document).ready(function() {
							$(".comment-list .item-opinion li").click(function() {	
								$(this).prevAll().children('i').removeClass("active");
								$(this).nextAll().children('i').removeClass("active");
								$(this).children('i').addClass("active");
								
							});
				     })
					</script>					
					
												
							
						</div>

					</div>

				</div>
</block>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person active">
						<a href="index.html"><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person">
						<p><i class="am-icon-newspaper-o"></i>个人资料</p>
						<ul>
							<li> <a href="information.html">个人信息</a></li>
							<li> <a href="safety.html">安全设置</a></li>
							<li> <a href="address.html">地址管理</a></li>
							<li> <a href="cardlist.html">快捷支付</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-balance-scale"></i>我的交易</p>
						<ul>
							<li><a href="order.html">订单管理</a></li>
							<li> <a href="change.html">退款售后</a></li>
							<li> <a href="comment.html">评价商品</a></li>
						</ul>
					</li>
					<li class="person">
						<p><i class="am-icon-dollar"></i>我的资产</p>
						<ul>
							<li> <a href="points.html">我的积分</a></li>
							<li> <a href="coupon.html">优惠券 </a></li>
							<li> <a href="bonus.html">红包</a></li>
							<li> <a href="walletlist.html">账户余额</a></li>
							<li> <a href="bill.html">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-tags"></i>我的收藏</p>
						<ul>
							<li> <a href="collection.html">收藏</a></li>
							<li> <a href="foot.html">足迹</a></li>	
						</ul>
					</li>

					<li class="person">
						<p><i class="am-icon-qq"></i>在线客服</p>
						<ul>
							<li> <a href="consultation.html">商品咨询</a></li>
							<li> <a href="suggest.html">意见反馈</a></li>							
							
							<li> <a href="news.html">我的消息</a></li>
						</ul>
					</li>
				</ul>

			</aside>
		</div>

	</body>

</html>
